body {
    background-image: url(img/Fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
}

form {
    width: 70%; 
    max-width: 400px;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#BoxLeft h1 {
    text-align: center;
    margin-top: 25%;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.1;
    color: white;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

#BoxLeft h2 {
    font-size: 3rem;
    text-align: center;
    color: yellow;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

#BoxCuerpo {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#BoxLeft {
    width: 50%;
    height: 100%;
}

#BoxRight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#BoxContraseña {
    display: flex;
    position: relative;
}

#BoxVerContraseña {
    position: absolute;
    margin-top: 5px ;
    width: 50px;
    height: 50px;
    right: 31%;
}

label {
    opacity: 0%;
}

#VerContraseñaImg {
    display: none;
    -webkit-user-drag: none;
    margin-top: -2px;
    height: 30px;
    width: 30px;
}

#VerContraseñaBtn {
    background-color: transparent;
    height: 25px;
    border: none;
    padding: 0;
    margin-top: 19px;
    cursor: pointer;
    outline: none;
}

#usuario, #contraseña {
    width: 90%; 
    max-width: 235px;
    height: auto;
    border: 5px solid #FFEB39;
    background-color: white;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px;
    text-align: left;
    margin: 60px 85px 0 0;
}

#contraseña {
    width: 200px;
    padding-right: 45px;
    margin: 10px 155px 0 0;
}

input[type="submit"] {
width: 75px;
background-color: #FFEB39;
font-size: 15px;
border-radius: 100px;
border: none;
padding: 10px;
color: white;
text-align: center;
margin: 10px 80px 20px 0;
font-weight: 700;
cursor: pointer;
}
