body {
    background-image: url(img/Fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
}

#BoxLeft h1 {
    text-align: center;
    margin-top: 25%;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.1;
    color: white;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

#BoxLeft h2 {
    font-size: 3rem;
    text-align: center;
    color: yellow;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

#BoxCuerpo {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#BoxLeft {
    width: 50%;
    height: 100%;
}

#BoxRight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#BoxContrase単a {
    display: flex;
    position: relative;
}

#BoxVerContrase単a {
    position: absolute;
    margin: 5px 0 0 -45px;
    width: 50px;
    height: 50px;
    right: 31%;
}

#VerContrase単aImg {
    margin: 15px 0 0 0;
    height: 30px;
    width: 30px;
}

form {
    width: 70%; 
    max-width: 400px;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"] {
    width: 90%; 
    max-width: 235px;
    height: auto;
    border: 5px solid #FFEB39;
    background-color: white;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px;
    text-align: left;
    margin: 60px 95px 0 0;
}

input[type="password"] {
    width: 200px;
    padding-right: 45px;
    margin: 10px 165px 0 0;
}

#VerContrase単aBtn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

input[type="submit"] {
width: 75px;
background-color: #FFEB39;
font-size: 15px;
border-radius: 100px;
border: none;
padding: 10px;
color: white;
text-align: center;
margin: 10px 90px 20px 0;
font-weight: 700;
cursor: pointer;
}

label {
    opacity: 0%;
}